// OSUS Properties Theme Colors

$mk_color_appsmenu_text: #ffd700; // OSUS Gold
$mk_color_appbar_text: #f8f9fa; // Light text
$mk_color_appbar_active: #ffd700; // OSUS Gold for active items
$mk_color_appbar_background: #800020; // OSUS Maroon

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;
