&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;odoo&gt;
    
    &lt;!-- Main Menu - Enterprise Reports --&gt;
    &lt;menuitem id="menu_enterprise_reports_main"
              name="Enterprise Reports"
              sequence="25"
              web_icon="enterprise_dynamic_reports,static/description/icon.png"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Dashboard Submenu --&gt;
    &lt;menuitem id="menu_enterprise_dashboard"
              name="Financial Dashboard"
              parent="menu_enterprise_reports_main"
              action="action_enterprise_dashboard_main"
              sequence="10"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Reports Submenu --&gt;
    &lt;menuitem id="menu_enterprise_reports_submenu"
              name="Financial Reports"
              parent="menu_enterprise_reports_main"
              sequence="20"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Balance Sheet --&gt;
    &lt;menuitem id="menu_balance_sheet_report"
              name="Balance Sheet"
              parent="menu_enterprise_reports_submenu"
              action="action_balance_sheet_report"
              sequence="10"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Profit &amp; Loss --&gt;
    &lt;menuitem id="menu_profit_loss_report"
              name="Profit &amp; Loss"
              parent="menu_enterprise_reports_submenu"
              action="action_profit_loss_report"
              sequence="20"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Trial Balance --&gt;
    &lt;menuitem id="menu_trial_balance_report"
              name="Trial Balance"
              parent="menu_enterprise_reports_submenu"
              action="action_trial_balance_report"
              sequence="30"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- General Ledger --&gt;
    &lt;menuitem id="menu_general_ledger_report"
              name="General Ledger"
              parent="menu_enterprise_reports_submenu"
              action="action_general_ledger_report"
              sequence="40"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Cash Flow --&gt;
    &lt;menuitem id="menu_cash_flow_report"
              name="Cash Flow"
              parent="menu_enterprise_reports_submenu"
              action="action_cash_flow_report"
              sequence="50"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Aged Reports Submenu --&gt;
    &lt;menuitem id="menu_aged_reports_submenu"
              name="Aged Reports"
              parent="menu_enterprise_reports_main"
              sequence="30"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Aged Receivables --&gt;
    &lt;menuitem id="menu_aged_receivables_report"
              name="Aged Receivables"
              parent="menu_aged_reports_submenu"
              action="action_aged_receivables_report"
              sequence="10"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Aged Payables --&gt;
    &lt;menuitem id="menu_aged_payables_report"
              name="Aged Payables"
              parent="menu_aged_reports_submenu"
              action="action_aged_payables_report"
              sequence="20"
              groups="account.group_account_user"/&gt;
    
    &lt;!-- Configuration Submenu --&gt;
    &lt;menuitem id="menu_enterprise_reports_config"
              name="Configuration"
              parent="menu_enterprise_reports_main"
              sequence="90"
              groups="account.group_account_manager"/&gt;
    
    &lt;!-- Dashboard Configuration --&gt;
    &lt;menuitem id="menu_enterprise_dashboard_config"
              name="Dashboard Settings"
              parent="menu_enterprise_reports_config"
              action="action_enterprise_dashboard_config"
              sequence="10"
              groups="account.group_account_manager"/&gt;
    
&lt;/odoo&gt;
