// OSUS Properties Brand Colors

$mk_color_brand: #800020; // OSUS Maroon
$mk_color_primary: #ffd700; // OSUS Gold

$mk_color_success: #28a745;
$mk_color_info: #17a2b8;
$mk_color_warning: #ffac00;
$mk_color_danger: #dc3545;

// Override

$o-community-color: $mk_color_brand;
$o-enterprise-color: $mk_color_brand;
$o-enterprise-action-color: $mk_color_primary;

$o-brand-odoo: $mk_color_brand;
$o-brand-primary: $mk_color_primary;

$o-success: $mk_color_success;
$o-info: $mk_color_info;
$o-warning: $mk_color_warning;
$o-danger: $mk_color_danger;

$o-theme-text-colors: (
  "primary": $mk_color_brand,
  "success": $o-success,
  "info": $o-info,
  "warning": $o-warning,
  "danger": $o-danger,
);
