// OSUS Properties Brand Colors (Dark Mode)

$mk_color_brand: #a62939; // OSUS Maroon (lighter for dark mode)
$mk_color_primary: #ffd700; // OSUS Gold

$mk_color_success: #1dc959;
$mk_color_info: #6ab5fb;
$mk_color_warning: #fbb56a;
$mk_color_danger: #ff5757;

// Override

$o-community-color: $mk_color_brand;
$o-enterprise-color: $mk_color_brand;
$o-enterprise-action-color: $mk_color_primary;

$o-brand-odoo: $mk_color_brand;
$o-brand-primary: $mk_color_primary;

$o-success: $mk_color_success;
$o-info: $mk_color_info;
$o-warning: $mk_color_warning;
$o-danger: $mk_color_danger;

$o-theme-text-colors: (
  "primary": $mk_color_brand,
  "success": $o-success,
  "info": $o-info,
  "warning": $o-warning,
  "danger": $o-danger,
);
